In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor, StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import svm
import pickle
from sqlalchemy import create_engine
from config import username, pw, hostname, port, db
import psycopg2

In [2]:
file_path1 = ("./Resources/winequality-red.csv")
file_path2 = ("./Resources/winequality-white.csv")

# ETL

In [3]:
# Load the data treating it as a single column
df_red = pd.read_csv(file_path1, sep="\t", header=None)

# Manually split the data
df_red = df_red[0].str.split(';', expand=True)

# If the data is enclosed in double quotes ("), remove them
df_red = df_red.replace('"','', regex=True)

# Make the first row as header
df_red.columns = df_red.iloc[0]
df_red = df_red[1:]

# Convert the data to numeric
df_red = df_red.apply(pd.to_numeric, errors='coerce')

In [4]:
# df_red

In [5]:
# Load the data treating it as a single column
df_white = pd.read_csv(file_path2, sep="\t", header=None)

# Manually split the data
df_white = df_white[0].str.split(';', expand=True)

# If the data is enclosed in double quotes ("), remove them
df_white= df_white.replace('"','', regex=True)

# Make the first row as header
df_white.columns = df_white.iloc[0]
df_white = df_white[1:]

# Convert the data to numeric
df_white = df_white.apply(pd.to_numeric, errors='coerce')

In [6]:
# df_white

In [7]:
# Add new columns
df_red['is_red'] = 1
df_white['is_red'] = 0

In [8]:
# Concat df's 
df_wine = pd.concat([df_red, df_white], ignore_index=True)
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [18]:
#connect / upload to postgres
engine = create_engine(f'postgresql+psycopg2://{username}:{pw}@{hostname}:{port}/{db}')

df_red.to_sql("red", con=engine, if_exists="append", index=False)
df_white.to_sql("white", con=engine, if_exists="append", index=False)

898

In [26]:
# Split the data
X = df_wine.drop(['quality'], axis=1)
y = df_wine['quality']

# t_t_s the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=23)

In [27]:
# Create a StandardScaler instance
scaler = StandardScaler()

# fit the data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
#Save scaler to disk
pickle.dump(scaler, open('scaler.pkl', 'wb'))

In [29]:
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression

# Define the base models
base_models = [('Random_Forest', RandomForestRegressor(n_estimators=4000, random_state=0)),
               ('SVM', SVR(kernel='rbf', C=1, gamma=1))]

# Initialize the Stacking Classifier
stacked_model = StackingRegressor(estimators=base_models, final_estimator=LinearRegression())

# Fit the model
stacked_model.fit(X_train_scaled, y_train)

# Predict the results
stacked_predictions = stacked_model.predict(X_test_scaled)

# Calculate metrics
mae = mean_absolute_error(y_test, stacked_predictions)
mse = mean_squared_error(y_test, stacked_predictions)
r2 = r2_score(y_test, stacked_predictions)

print('Mean Absolute Error:', mae)
print('Mean Squared Error:', mse)
print('R-squared Score:', r2)

Mean Absolute Error: 0.4229316185441051
Mean Squared Error: 0.35967560998362375
R-squared Score: 0.5300888657275027

In [30]:
#Save model to disk
pickle.dump(stacked_model, open('model.pkl', 'wb'))